body{
    margin: auto;
    width: 80%;
    font-size: 1em;
}

header{
    text-align: center;
}

footer{
    text-align: right;
}

#container{
    margin: auto;
    height: 3072px;
    overflow: hidden
}

video{
    margin: auto;
    width: 100%;
}

@media (max-width: 768px) {
    #container { width: 100%; }
}

@media (min-width: 768px) and (max-width: 992px) {
    #container { width:90%; }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #container { width: 75%; }
}

@media (min-width: 1200px) {
    #container { width: 50%; }
}
